*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}




.header__content {
    display: flex;
    width: 80%;
    margin: 40px auto;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}

.list {
    display: flex;
}

.list li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
}

.list ul {
    display: flex;
    padding-right: 50px;
    gap: 35px;
    list-style: none;
    color: #D9D9D5;
    font-size: 16px;
}

.list button {
    background-image: linear-gradient(to right, #f06292, #ffb74d);
    border: none;
    color: white;
    font-size: 16px;
    padding: 20px 25px;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
    overflow: hidden;

}

.list button::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to left, #f06292, #ffb74d);
    transform: translateX(100%);
    transition: all 0.3s;
}

.list button:hover::before {
    transform: translateX(0);
}


.run__content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.run__left {
    width: 60%;
    line-height: 1.3;
    margin-left: 10%;

}

.run__list {
    margin: 13px 0px;


}

.run__list li {
    list-style: none;
    display: flex;
    gap: 13px;
    align-items: center;
    padding-top: 15px;
}

.run__list p {
    font-size: 20px;
    color: #D9D9D5;
}

.tron i {
    color: white;
    font-size: 25px;
}



.tron {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f06292, #ffb74d);
    display: flex;
    justify-content: center;
    align-items: center;
}

.run__left button {
    position: relative;
    background-image: linear-gradient(to right, #f06292, #ffb74d);
    border: none;
    color: white;
    font-size: 16px;
    padding: 20px 25px;
    border-radius: 40px;
    margin-top: 20px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s;

}

.run__left button::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to left, #f06292, #ffb74d);
    transform: translateX(100%);
    transition: all 0.3s;
}

.run__left button:hover::before {
    transform: translateX(0);
}



@keyframes nhay {
    0% {
        transform: translateY(0);
        color: #333;
    }

    50% {
        transform: translateY(-15px);
        color: #f06292;
    }

    100% {
        transform: translateY(0);
        color: #333;
    }
}

.list li:hover {
    animation: nhay 0.3s ease-out 1;
}

.run__left button:hover {
    background-color: #d58c1e;
}

@keyframes page__up {
    0% {
        transform: translateY(100px);
        opacity: 0;

    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.run__left p:nth-child(1) {
    animation-delay: 0.2s;
}

.run__left h1:nth-child(2) {
    animation-delay: 0.6s;
}

.run__left p:nth-child(3) {
    animation-delay: 0.9s;
}

.run__list:nth-child(4) {
    animation-delay: 1.2s;
}

.run__left button:nth-child(5) {
    animation-delay: 1.5s;
}


.run__left>* {
    opacity: 0;
    animation: page__up 1s ease-in forwards;


}

.run__right {
    animation-name: page__up;
    animation-duration: 0.8s;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-delay: 1.3s;
}

.service__content {
    width: 80%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.service_list {
    margin: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    height: 450px;
    width: 100%;


}

.service__title {
    line-height: 1.3;
    margin-bottom: 30px;
}

.service__item {
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #15191C;
    width: 33%;
    height: 430px;
    text-align: center;
    background-image:
        linear-gradient(#15191C, #15191C),
        linear-gradient(to bottom, #f06292, #ffb74d);
    background-origin: border-box;
    background-clip: content-box, border-box;


    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;


}

.service__item img {
    height: 230px;
    width: 230px;
}

.service__item:hover {
    border: 3px dashed;
    transform: translateY(-25px);
    transition: 0.6s;
}

.marketing__content {
    display: flex;
    width: 100%;
    align-items: center;
}

.marketing__content img {
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    width: 45%;
}


.marketing__content__right {
    width: 55%;
    margin-left: 80px;
}

.marketing__content__title {
    line-height: 1.3;
    margin-bottom: 20px;
}


.marketing__list li {
    list-style: none;
    display: flex;
    align-items: center;
    padding-bottom: 10px;



}

.marketing__list li p {
    padding-left: 11px;
    color: #D9D9D5;
    font-size: 17px;
}

.tron_marketing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 3px solid #E65A85;
    border-radius: 50%;
    background-color: transparent
}

.tron_marketing i {
    color: #E65A85;
}

.marketing__btn {
    position: relative;
    background-image: linear-gradient(to right, #f06292, #ffb74d);
    border: none;
    color: white;
    font-size: 16px;
    padding: 20px 25px;
    border-radius: 45px;
    margin-top: 20px;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: all 0.3s;

}

.marketing__btn::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to left, #f06292, #ffb74d);
    transform: translateX(100%);
    transition: all 0.3s;
}

.marketing__btn:hover::before {
    transform: translateX(0);
}

@keyframes truot_ngang_left {
    0% {
        transform: translateX(-500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.marketing__content img {
    animation: truot_ngang_left 2.5s ease-out forwards;

}

@keyframes truot_ngang_right {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.marketing__content__right {
    animation: truot_ngang_right 2.5s ease-out forwards;
}

.cout {
    margin: 80px 0;
    background-image: url(img/bg14.png);
    width: 100%;
    background-position: center;
    padding: 70px 0;

}

.cout__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 140px;

}

.cout_icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: linear-gradient(to left, #f06292, #ffb74d);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


}

.cout_icon i {
    position: absolute;
    color: white;
    font-size: 40px;
}

.cout__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
}

.cout__item span {
    color: #E65A85;
    font-size: 50px;
    font-weight: bold;
    padding-right: 10px;
}

.cout__item p {
    color: #D9D9D5;
    font-size: 17px;
}

.story {
    background-image: url(img/bg2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.story__content {
    width: 100%;
    height: auto;
    margin: 70px 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
}

.story__left {
    width: 50%;

}

.story__right {
    width: 50%;
    height: auto;




}

.story__left .story__item {
    position: relative;
    padding: 30px 25px;
    margin-bottom: 25px;
    width: 100%;
    border-radius: 10px;
    height: auto;
    background-color: #181A1B;
    display: flex;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transition: all 1s;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    animation: story 1.5s ease-out forwards;

}

.story__left .story__item:nth-child(2) {
    animation-delay: 0.2s;
}

.story__left .story__item:nth-child(3) {
    animation-delay: 0.4s;
}

.story__left .story__item:nth-child(4) {
    animation-delay: 0.6s;
}


@keyframes story {
    0% {
        transform: translateX(600px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes story__title {
    0% {
        transform: translateX(-300px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.story__title {
    opacity: 0;
    animation: story__title 1.5s ease-out forwards;
}

.story__item i {
    color: #E65A85;
    font-size: 80px;

}

.item__text {
    margin-left: 25px;
}

.item__text h3 {
    font-size: 30px;
    font-weight: bold;
    color: #D9D9D5;
    padding-bottom: 10px;
}

.item__text p {
    color: #a5a5a5;
    line-height: 1.5;
}

.story__item::after {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right, #f06292, #ffb74d);
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.story__item:hover::after {
    opacity: 1;
    transition: all 0.5s;
}

.story__item:hover i {
    color: #fff;
}


.story__item:hover h3 {
    color: #fff;
}


.story__item:hover p {
    color: #fff;
}

@keyframes float {
    0% {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(1deg);
    }

    66% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.story__right img {
    transform-origin: center center;
    animation: float 4s ease-in-out infinite;
}

.latest__item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    transition: all 0.5s;

}

.latest__container {

    width: 80%;
    margin: 50px auto;
}

.latest__content {

    width: 100%;
}

.latest__table {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 1.5fr;
    gap: 35px;
}

.latest__item.item-1 {
    grid-column: 1/ span 2;

}

.latest__item.item-6 {
    grid-column: 1/ span 2;
}

.latest__item.item-5 {
    grid-column: 3/4;
    grid-row: 2/4;
}

.latest__item {
    position: relative;
    overflow: hidden;
}

.latest__item::before {
    content: '';
    position: absolute;
    background-color: rgba(0, 0, 0, 0.11);
    ;
    top: -150%;
    left: -150%;
    width: 300%;
    height: 300%;
    transform: rotate(-45deg) translate3d(0, -100%, 0);
    transition: transform 0.8s ease-out;
    z-index: 1;

}

.latest__item:hover::before {
    transform: rotate(-45deg) translate3d(0, 150%, 0);
}

.overlay__icon {
    color: white;
    padding: 15px 15px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #f06292, #ffb74d);
    top: 20px;
    right: 20px;
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100px, -100px);
    transition: all 0.5s;
    z-index: 3;

    cursor: pointer;





}

.latest__item:hover img {
    filter: brightness(0.6);
}

.overlay__text {
    position: absolute;
    z-index: 3;
    transform: translateY(50px);
    left: 20px;
    bottom: 20px;
    opacity: 0;
    transition: all 0.5s ease;
}

.latest__item:hover .overlay__icon {
    transform: translate(0, 0);

}

.latest__item:hover .overlay__text {
    transform: translateY(0);
    opacity: 1;
}

@keyframes scroll {
    0% {
        transform: translateY(500px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.latest__item.item-1,
.item-2 {
    animation: scroll 1.4s ease-out forwards;
    animation-delay: 0.2s;

}

.latest__item.item-3,
.item-4 {
    animation: scroll 1.5s ease-out forwards;
    animation-delay: 0.5s;
}

.latest__item.item-5 {
    animation: scroll 1.5s ease-out forwards;
    animation-delay: 0.8s;
}

.latest__item.item-6 {
    animation: scroll 1.5s ease-out forwards;
    animation-delay: 1s;
}

.blog__title {
    text-align: center;
    line-height: 1.5;
}

.blog__list {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.blog__item {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    overflow: hidden;
    width: 33%;
    height: 500px;
    background-color: rgba(245, 95, 141, 0.1);
    border-radius: 15px;
}

.blog__item img {

    top: 0;
    left: 0;
    width: 100%;
    height: 45%;
    object-fit: cover;
}

.blog__text {
    margin: 30px 10px;

}

.blog__text h3 {

    color: #D9D9D5;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.4;
}

.blog__text p {

    color: #a5a5a5;
    line-height: 1.4;
}

.blog__icon {
    display: flex;
    align-items: center;
    margin-top: 80px;
    margin-left: 10px;
}

.blog__icon i {
    color: #E65A85;
    font-size: 19px;
    margin-right: 7px;
}

.blog__icon span {
    color: #E65A85;
    font-size: 15px;
    margin-right: 10px;
}

.blog__icon p {
    color: #D9D9D5;
}

.blog__list .slick-slide {
    padding: 0 15px;
}

.blog__time {
    position: absolute;
    width: 160px;
    height: auto;
    background-image: linear-gradient(to right, #f06292, #ffb74d);
    border-radius: 5px;
    padding: 11px 13px;
    color: white;
    font-size: 14px;
    text-align: center;
    top: 202px;
    left: 15px;

}

.contact {
    border-radius: 10px;
    padding: 40px 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;

}

.contact__text {
    width: 50%;
    color: #D9D9D5;

}

.contact__form {
    width: 50%;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    background: #2a2e33;
    border: 1px solid rgba(255, 255, 255, 0.26);



}

.contact__form input {
    flex: 1 1 auto;
    background: transparent;
    border: none;
    outline: none;
    padding: 20px 25px;
    color: white;
    min-width: 0;



}

.contact__form button {
    flex: 0 0 auto;
    padding: 25px 50px;
    background: linear-gradient(to right, #f55f8d, #f8ae56);
    border: none;
    color: white;
    cursor: pointer;
    white-space: nowrap;


}

.contact__form input:hover {
    outline: 1px solid red;
}

.contact__infor {
    margin: 100px auto;
}

.infor__logo {}

.infor__item {
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.infor__icon {
    color: white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #f55f8d, #f8ae56);
    display: flex;
    align-items: center;
    justify-content: center;
}

.infor__text {
    margin-left: 10px;
    color: white;
}

.net__dut {
    margin-bottom: 30px;

    gap: 4px;
    display: flex;
    align-items: center;
}

.net__dut2 {
    width: 45px;
    height: 5px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f55f8d, #f8ae56);
}

.info__link h3 {
    font-size: 23px;
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}

.net__dut1 {

    width: 20px;
    height: 5px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f55f8d, #f8ae56);
}

.infor__list li {
    list-style: none;

}

.infor__list a {
    color: #D9D9D5;
    text-decoration: none;
}

.infor__list a:hover {
    color: white;
    transition: all 0.5s;
}

.infor__list {
    line-height: 2.5;
}

.infor__list i {
    margin-right: 10px;
}

.contact__infor {
    display: flex;
    gap: 130px;
}

.footer__low {
    width: 100%;
    background-color: #1f343b;
}

.footer__coppyright {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.coppyright__text p {
    color: white;
}

.coppyright__text span {
    color: #E65A85;
}

.coppyright__logo {
    display: flex;
    gap: 10px;
}

.coppyright__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1a2c32;
    cursor: pointer;
}

.coppyright__item:hover {
    background-color: #E65A85;
    transition: all 0.5s;
}

.coppyright__item i {
    color: white;
}

@keyframes footer {
    0% {
        transform: translateY(150px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
    }
}

.contact {
    transition: all 0.7s;
    animation: footer 1s ease-out;
}

@keyframes footer__coppyright {
    0% {

        opacity: 0;
        filter: blur(1px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.contact__infor {

    animation: footer__coppyright 2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    animation-delay: 1s;
}

.back-to-top {
    background-color: #E65A85;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 35px;
    right: 20px;
    position: absolute;
    cursor: pointer;
}